    .wrapper {
        padding-left: 18px;
        padding-right: 18px;
        @mixin atLarge {
            padding-left: 18px;
            padding-right: 18px;
            max-width: 1236px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @define-mixin d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    
    .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }